/*
  white: #FFFFFF
  dark salmon (accent 1): #B95A58
  medium grey (accent 2): #737373
*/

a {
  color: #B95A58;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #737373;
}

body {
  padding: 20px 50px 30px 50px;
}

div {
  background-color: #B95A58;
  width: 646px;
  padding: 6px 6px 1px 6px;
  border-style: dotted;
  border-color: #737373;
  border-width: 8px;
  margin: 25px;
}

h1 {
  color: #B95A58;
  text-align: center;
}

h2, h3 {
  color: #B95A58;
}

th, td {
  border-color: #737373;
  border-style: ridge;
  border-width: 3px;
  padding: 12px 24px;
}

table{
  border-collapse: collapse;
}

p.text_content{
  background-color: #B95A58;
  color: #ffffff;
  width: 550px;
  padding: 10px 25px;
  border-color: #737373;
  border-style: solid;
  border-width: 6px;
  margin: 40px 25px 40px 25px;
}